<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quesa.mybootproject.module.score.dao.ScoreMapper">

	<!---通用查询结果列-->
	<sql id="all_column">
	o.id_,	o.stu_id_,	o.score_,	o.ct_
	</sql>

	<!---通用查询结果列-->
	<sql id="all_where">
			<if test="id != null and id != '' ">
				 and o.id_ = #{id}
			</if>
			<if test="stuId != null and stuId != '' ">
				 and o.stu_id_ = #{stuId}
			</if>
			<if test="score != null ">
				 and o.score_ = #{score}
			</if>
			<if test="ct != null ">
				 and o.ct_ = #{ct}
			</if>
	</sql>
	<!-- 实体类与数据库字段映射-->
	<resultMap type="com.quesa.mybootproject.module.score.entity.Score" id="ScoreResultMap">
	<!-- 用id属性来映射主键字段 --><id property="id" column="id_"/>	<!-- 用result属性来映射非主键字段 -->
	<result property="stuId" column="stu_id_"/>
	<result property="score" column="score_"/>
	<result property="ct" column="ct_"/>
	</resultMap>

</mapper>
