<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quesa.mybootproject.module.user.dao.StudentMapper">

	<!---通用查询结果列-->
	<sql id="all_column">
	o.id_,	o.name_,	o.sex_,	o.ct_
	</sql>

	<!---通用查询结果列-->
	<sql id="all_where">
			<if test="id != null and id != '' ">
				 and o.id_ = #{id}
			</if>
			<if test="name != null and name != '' ">
				 and o.name_ = #{name}
			</if>
			<if test="sex != null ">
				 and o.sex_ = #{sex}
			</if>
			<if test="ct != null ">
				 and o.ct_ = #{ct}
			</if>
	</sql>
	<!-- 实体类与数据库字段映射-->
	<resultMap type="com.quesa.mybootproject.module.user.entity.Student" id="StudentResultMap">
	<!-- 用id属性来映射主键字段 --><id property="id" column="id_"/>	<!-- 用result属性来映射非主键字段 -->
	<result property="name" column="name_"/>
	<result property="sex" column="sex_"/>
	<result property="ct" column="ct_"/>
	</resultMap>

</mapper>
